<%- include("header") -%>

<h1 style="color:black">This is the about page</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi, consequatur labore. Repellendus animi odit a enim laboriosam ipsum eligendi aliquam obcaecati! Id earum quae dolor beatae neque quis nostrum quod?</p>

<%- include("footer") -%>
