<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>
    <h1>TO do list</h1>
    <p style="color:blue;"><%= dayName %> List</p>   

    <ul>
      <li>Buy Food</li>
      <li>Cook Food</li>
      <li>Eat Food</li>
      <% itemList.forEach(element => { %>
        <li><%= element %></li>
      <% }); %>
    </ul>
    <form action="/" method="post">
      <input type="text" name="newItem" placeholder="Add Task">
      <button type="submit" name="submit">Add to List</button>
    </form>
    
</body>
</html>