<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>
    <h1>TO do list</h1>
    <% if (dayName === "Thursday") { %>
    <p style="color:blue;"><%= dayName %> List</p>
    <% } else { %>
    <p style="color:red;">Wow it is the <%= dayName %> List</p>    
    <% } %>
    
</body>
</html>