<%- include("header") -%>

    <div class="box" id="heading">
      <h1>TO do list</h1>
    </div>    
    <div class="box">
      <p style="color:blue;"><%= dayName %> List</p>   
        <div class="item">
          <input type="checkbox">
          <p>Buy Food</p>
        </div>
        <div class="item">
          <input type="checkbox">
          <p>Cook Food</p>
        </div>
        <div class="item">
          <input type="checkbox">
          <p>Eat Food</p>
        </div>        
        <% if (itemList.length > 0) { %>
        <% itemList.forEach(element => { %>
          <div class="item">
            <input type="checkbox">
            <p><%= element %></p>
          </div>
        <% }); %>
        <% }; %>
        <form class="item" action="/" method="post">
          <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
          <button type="submit" name="submit">+</button>
        </form>
    </div>
    
    <%- include("footer") -%>
    
    
